Controlling "shallfs"
---------------------

Directory /proc/fs/shallfs contains various files which can be used to
obtain statistical information and control the filesystem module.

/proc/fs/shallfs/mounted
	list of all mounted "shallfs" filesystems; each line represents
	a filesystem, with format "major:minor length /path" where
	"major:minor" determines the journal device, "/path" is the
	(encoded) path to the underlying filesystem, and "length" is
	the (decoded) length of the path; this information is used
	by the readshallfs program to find a device when using "-m".

/proc/fs/shallfs/<device>/
	information about a particular mounted filesystem.

/proc/fs/shallfs/<device>/info
	read-only file, by default owned by root and readable by
	anybody (a future version will allow to change this with a
	mount option and/or chown/chmod); reading this returns
	information about the mounted filesysten, in the format
	"key: value" as described below.

/proc/fs/shallfs/<device>/blog
	read-only file, by default owned by root and readable by owner
	only (a future version will allow to change this with a mount
	option and/or chown/chmod); reading this returns as many events
	from the log as fit in the buffer provided, in the same format
	as they appear on the device, however this file will also return
	events which have not yet been committed to device and are atill
	in memory buffers.  All events returned are removed from the
	journal.  If no events are available, the file's blocking mode
	determine whether a read waits for new events or returns end-of-file.

/proc/fs/shallfs/<device>/hlog
	(this entry exists only if CONFIG_SHALL_FS_DEBUG is set)
	like /proc/fs/shallfs/<device>/blog but the events are provided
	in a human-readable format rather than a binary format.

/proc/fs/shallfs/<device>/ctrl
	write-only file, by default owned by root and writable by
	owner only (a future version will allow to change this with a
	mount option and/or chown/chmod); writing a command to this file
	will request some action; see below for available commands.

The "info" files contain at least the following information (order can
change, so anybody reading this must use the keyword to find required
information)

mounted			time (in seconds.decimals) since mount
logged			number of operations logged
maxsize			max size of the journal
size			current size of the journal
space			space available in journal
devsize			total size of device
start			start of journal data
commit_size		number of commits because size exceeded
commit_time		number of commits because time exceeded
commit_forced		number of commits on remount etc.
version			current superblock version
flags			superblock flags
nsuper			total number of superblock
align			log alignment
fs			path to underlying filesystem

The "ctrl" files accepts the following commands, which must be provided
one per line, and each line must be limited to 40 characters:

commit
	Requests that any uncommitted logs be flushed to disk; this is
	synchronous: the write operation does not terminate until the
	commit completes; however, other logs could be generated by
	the time the caller gets control back.

clear NUMBER
	Discards events from the journal; up to NUMBER bytes are discarded;
	if the journal has less than NUMBER bytes, the whole journal will
	be deleted; if the first NUMBER bytes contain an incomplete log,
	this log won't be discarded (only complete logs are removed).

	To remove all logs, provide a NUMBER larger than the size of the
	device.  However note that new events can be generated between the
	time the existing events are discarded and the time control returns
	to the caller.

	If any logs were removed (NUMBER > 0 and at least one complete event
	log fits in NUMBER bytes), and if there were processes waiting for
	space, these processes are woken up and will try again to log: this
	means that this command can be used to unblock a heavily loaded
	system with lots of processes waiting for space to write their logs.

userlog TEXT
	Adds TEXT to the filesystem log, as a "user log".  This will be
	displayed by readshallfs, but is not interpreted in any way.
	Currently, TEXT can be at most 128 characters.

The "shalluserlog" program sends a "userlog" command to a mounted file system,
usage: shalluserlog /path/to/mountpoint 'TEXT'
or:    shalluserlog /dev/DEVICE 'TEXT'
This is just a convenience, as one can also "echo 'userlog TEXT' > /proc/..."

